body {
    background-color:#98F8DE;
    border: 3px black solid;
}
.container2 {
    background-color: rgba(189, 111, 245, 0.466);
    margin:5rem; 
    padding:2rem;
    border: 3px rgb(240, 48, 160) solid;
    text-align: center;
    display: inline-block;
    width: 20rem;
    align-items: center;
}
#add {
    background-color: rgb(129, 47, 61);
    color:white;
    font-size: 15px;
    border-radius: 15%;
    font-weight: bold;
    line-height: 1.6;
}
#sub{
    background-color: rgb(92, 101, 221);
    font-size: 15px;
    border-radius: 15%;
    font-weight: bold;
    line-height: 1.6;
    color:white;
}
#mul{
    background-color: rgb(23, 184, 90);
    font-size: 15px;
    font-weight: bold;
    border-radius: 15%;
    line-height: 1.6;
    color:white;
}
#div {
    background-color: rgb(221, 182, 9);
    font-size: 15px;
    border-radius: 15%;
    line-height: 1.6;
    font-weight: bold;
    color:white;
}

.container3 {
    width: 30rem;
    height: 25rem;
    border: 3px black solid;
}
#calculatorV2 {
    width: 20rem;
    height: 20rem;
    background-color: lawngreen;
    margin: 0 auto;
    position: relative;
    top: 20px;
}