body {
    background-color:#98F8DE;
    border: 3px black solid;
}
.container2 {
    background-color: rgba(189, 111, 245, 0.466);
    margin:5rem; 
    padding:2rem;
    border: 3px rgb(240, 48, 160) solid;
    text-align: center;
    display: inline-block;
    width: 20rem;
    align-items: center;
}
#add {
    background-color: rgb(129, 47, 61);
    color:white;
    font-size: 15px;
    border-radius: 15%;
    font-weight: bold;
    line-height: 1.6;
}
#sub{
    background-color: rgb(92, 101, 221);
    font-size: 15px;
    border-radius: 15%;
    font-weight: bold;
    line-height: 1.6;
    color:white;
}
#mul{
    background-color: rgb(23, 184, 90);
    font-size: 15px;
    font-weight: bold;
    border-radius: 15%;
    line-height: 1.6;
    color:white;
}
#div {
    background-color: rgb(221, 182, 9);
    font-size: 15px;
    border-radius: 15%;
    line-height: 1.6;
    font-weight: bold;
    color:white;
}

.container3 {
    width: 30rem;
    height: 35rem;
    border: 3px black solid;
}
#calculatorV2 {
    width: 20rem;
    height: 33rem;
    background-image: url(./cal.jpeg);
    margin: 0 auto;
    position: relative;
    top: 20px;
}

#result {
    height: 120px;
}
#keyboard {
    height: 400px;
}
#history {
    text-align:right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: palevioletred;
}
#output {
    text-align:right;
    height: 60px;
    margin:10px 20px;
    font-size:24px;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin:15px;
    float:left;
    border-radius: 50%;
    font-weight: bold;
    color:white;
    font-size:15px;
}

.number, .empty {
    background-color: rgb(228, 151, 164);
}
.number, .operator {
    cursor: pointer;
}

.calculadora {
    border: 3px black solid;
    background-image: url(./foto.jpeg);
    background-size: cover;
    opacity: 0.8;
    margin:5rem; 
    padding:2rem;
    width: 20rem;
    height: 12rem;
    color: rgb(241, 35, 224);
    font-size: 20x;
}